/*
 * Top links styling
 * ------------------
 */
.top-links {
  display: inline-block;
}

.top-links .title {
  display: none;
}

.top-links a:link,
.top-links a:active,
.top-links a:visited {
  color: white;
  font-weight: normal !important;
  text-decoration: none;
}

.top-links a:hover {
  text-decoration: underline;
}

.top-links ul {
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 70%;
  list-style-type: none;
  padding-left: 0;
}

.top-links li {
  display: inline;
  margin-right: 5px;
  padding-right: 7px;
}

.top-links li:last-child {
  margin-right: 0;
  padding-right: 0;
}

#top-links-left {
  float: left;
  height: 22px;
  padding-left: 20px;
}

#top-links-right {
  float: right;
  height: 22px;
  text-align: right;
  padding-right: 20px;
}


/*
 * Navbar styling
 * ---------------
 */
#navbar {
  background-color: #002E5F;
  border-radius: 0;
  border-top: none;
  margin-top: 0;
  padding: 0;
}

#navbar > div.container > .navbar-header > .navbar-brand {
  color: white;
}

@media (max-width: 767px) {
  #navbar > div.container > div.navbar-header > .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  #navbar .navbar-header {
    float: none;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #navbar > div.container > div.navbar-header > .logo {
    margin-top: 0px;
    margin-bottom: 4px;
  }

  #navbar .navbar-collapse.collapse {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
  }

  #navbar nav > ul.menu.nav.navbar-nav {
    background-image: url('../img/head-menu-row-repeater.gif');
    background-position: left bottom;
    height: 35px;
    line-height: 37px;
    margin-top: 5px;
    width: 100%;
  }

  #navbar nav > ul.menu.nav.navbar-nav > li.first {
    margin-left: 8px;
  }

  #navbar nav > ul.menu.nav.navbar-nav > li.active {
    background-image: url(../img/head-menu-row-active.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-right: 12px;
  }

  #navbar nav > ul.menu.nav.navbar-nav > li > a {
    color: #005b7f;
    font-size: 115%;
    height: 36px;
    line-height: 40px;
    text-decoration: none;
    padding: 0 12px;
  }

  #navbar nav > ul.menu.nav.navbar-nav > li > a.active {
    background-color: transparent;
  }
}


/*
 * "Sidebar-first" styling
 * ------------------------
 */
.region-sidebar-first {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0px;
}


/*
 * Blocks styling
 * ---------------
 */
.region-sidebar-first > section.block,
.region-sidebar-second > section.block {
  background-color: #ccd5df;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  padding: 7px 8px;
}

.region-sidebar-first > section.block > h2.block-title,
.region-sidebar-second > section.block > h2.block-title {
  color: rgb(0, 46, 95);
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 9px;
}

.region-sidebar-first > section.block ul,
.region-sidebar-second > section.block ul {
  padding-left: 20px;
}

.region-sidebar-first > section.block a,
.region-sidebar-second > section.block a {
  color: rgb(0, 91, 127);
  text-decoration: underline;
}


/*
 * Footer styling
 * ---------------
 */
footer.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 74%;
  padding-top: 10px;
}

footer.footer address > strong {
  font-size: 110%;
  line-height: 24px;
}

footer.footer a {
  color: rgb(0, 91, 127);
  text-decoration: underline;
}